/* CSS Document for Screens */

/* import Fonts from google */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

body {font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color: #555; margin: 0; padding:0;}

/* Text */

h1 { margin: 0 0 0.25em 0; font-size: 2.15em; font-weight: 700;}
h2 { margin: 0 0 0.25em 0; font-size: 1.1em; font-weight: 300;}
h3 { margin: 0 0 0.25em 0; font-size: 1.1em; font-weight: 300;}

h4 { margin: 0 0 0.25em 0; font-size: 1em;}


p { margin: 0 0 0.25em 0; }
p1 { margin: 0 0 0.25em 0; font-size: 0.9em; line-height: 1.25em; font-weight: 500; }
p2 { margin: 0 0 0.25em 0; lfont-size: 0.9em; ine-height: 1.25em; font-weight: 450; }

a { color: #007eff;  }
a:visited {color:#65b1ff;}

/* Header */
header {height:140px; min-width: 1000px; position: absolute; background-color: #FFFFFF;}

header a.logo {
	position:absolute; 
	display: block; width: 100px; height: 100px;
	background: url(../images/logo.png) no-repeat 0 0; background-size: contain;
	top: 20px; left: 20px;
}
header a.logo span {display:none;}

header div h1 { line-height: 1.1em; margin: 20px 0 0px 140px; color: #642e2d; }
header div h2 { line-height: 1.5em; margin: 10px 0 0 140px; color: #9d3b38; font-weight: 500;}
header div h3 { line-height: 1.5em; margin: 0 0 0 140px; color: #9d3b38; font-weight: 500;}

body div h4 { color: #9d3b38; font-weight: 500;}
